<div class="modal-header">
    <h1 class="modal-title">Mark Presence</h1>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="session-info">
        <h2>Session Information</h2>
        <p><strong>Title:</strong> {{ sessionResponse.title }}</p>
        <p><strong>Description:</strong> {{ sessionResponse.description }}</p>
        <p><strong>Scheduled Time:</strong> {{ sessionResponse.scheduledTime | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p *ngIf="sessionResponse.location"><strong>Location:</strong> {{ sessionResponse.location }}</p>
        <p *ngIf="sessionResponse.url" ><strong>URL:</strong> <a [href]="formattedUrl">{{ sessionResponse.url }}</a></p>
    </div>
    <form [formGroup]="updateSessionForm" (ngSubmit)="updatePresence()">
        <div class="students-list">
            <h2>Students</h2>
            <ul class="list-group">
                <li *ngFor="let student of groupResponse.students" class="list-group-item d-flex justify-content-between align-items-center">
                    {{ student }}
                    <div>
                        <label>
                            <input type="radio" [formControlName]="'presence_' + student" [value]="true"> Present
                        </label>
                        <label>
                            <input type="radio" [formControlName]="'presence_' + student" [value]="false"> Absent
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="loading">Apply</button>
        </div>
    </form>
</div>