<div class="">
    <div class="breadcrumb">
        <h1>Users List</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input id="keyword" placeholder="Search Users" [formControl]="searchControl" class="form-control form-control-rounded" type="text">
            </div>
        </div>
        <div class="col-md-12">
            <div class="card o-hidden">
                <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
                    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                        <span class="spinner-glow spinner-glow-primary mr-5" style="font-size: 3rem;"></span>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <ngx-datatable
                            style="height: calc(100vh - 270px); box-shadow: none"
                            class="material fullscreen"
                            [columnMode]="'force'"
                            [columns]="[{ name: 'Email' }, { name: 'Name' }, { name: 'Lastname' }, { name: 'Role', cellTemplate:role , width: 200 } ,{ name: 'Ban' },{ name: 'Verified' }]"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [rowHeight]="100"
                            [scrollbarV]="true"
                            [scrollbarH]="true"
                            [externalPaging]="true"
                            [count]="totalItems"
                            [offset]="(currentPage - 1) * itemsPerPage"
                            [limit]="itemsPerPage"
                            [rows]="users | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
                        <ng-template #role let-row="row" let-value="value">
                            <div class="role-tags">
                                <select class="form-control" name="role" [(ngModel)]="row.role" (change)="onRoleChange(row)">
                                    <option *ngFor="let role of availableRoles" [value]="role">{{ role }}</option>
                                </select>
                            </div>
                        </ng-template>
                    </ngx-datatable>
                </div>
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>