<div *ngIf="!group" class="loadscreen">
    <img src="assets/images/logo.png" class="logo mb-3" style="display: none" alt="">
    <div class="loader-bubble loader-bubble-primary d-block"></div>
</div>
<div *ngIf="group && user">
<div class="container-fluid bg-primary text-white p-4">
    <div class="row">
        <div class="col">
            <h1 class="display-4">{{group.name}}</h1>
        </div>
        <div class="col">
            <div class="row mt-5">
                <div class="col-lg-8 user-profile mb-4">
                    <div class="user-info">
                        <img class="profile-picture avatar-lg mb-2" [src]="imageSrc || 'assets/default-image.jpg' " alt="">
                        <h1 class="m-0 text-white">
                            {{ displayTeacherInfo }}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Buttons Section -->
<div class="container mt-3">
    <div class="d-flex justify-content-end mb-3">
        <button *ngIf="isTeacherInGroup()" class="btn btn-success mr-2" (click)="addPostForm()"> <i class="i-Add"></i> Add Post</button>
        <button *ngIf="isTeacherInGroup()" class="btn btn-warning mr-2" (click)="openUpdateGroupForm()"><i class="i-Pen-5"></i> Edit Group</button>
        <button *ngIf="isTeacherInGroup()" class="btn btn-danger mr-2" (click)="deleteGroupModal(modalConfirmGroup)"><i class="i-Remove"></i> Delete Group</button>
    </div>
</div>

<!-- Main Content Section -->
<div class="container mt-3">
    <div class="row">
        <!-- Left Sidebar -->


        <!-- Posts Section -->
        <div infiniteScroll [infiniteScrollDistance]="1" (scrolled)="searchMorePosts()" class="col-md-8">
            <div *ngIf="loadingPosts" class="loadscreen">
                <img src="assets/images/logo.png" class="logo mb-3" style="display: none" alt="">
                <div class="loader-bubble loader-bubble-primary d-block"></div>
            </div>
            <div *ngIf="!loadingPosts && posts && posts.length > 0; else noPostsTemplate">
                <div *ngFor="let post of posts" class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">{{ post.title }}</h5>
                        <small><i class="i-Clock"></i> {{ post.createdAt | date: 'dd/MM/yyyy HH:mm' }}</small>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ post.content }}</p>
                        <a *ngFor="let file of post.files" (click)="downloadFile(file,post.id)" class="btn btn-link"><i class="i-File"></i> {{file}}</a>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-danger" *ngIf="isTeacherInGroup()" (click)="deletePostModal(modalConfirmDeletePost,post.id)"><i class="i-Remove"></i> Delete Post</button>
                    </div>
                </div>
            </div>
            <div *ngIf="loadingExtraPosts" class="loadscreen">
                <img src="assets/images/logo.png" class="logo mb-3" style="display: none" alt="">
                <div class="loader-bubble loader-bubble-primary d-block"></div>
            </div>
            <ng-template #noPostsTemplate>
                <div class="alert alert-info" role="alert">
                    No posts available.
                </div>
            </ng-template>
        </div>

        <!-- Right Sidebar -->
        <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>Upcoming Sessions</h5>
                        <button *ngIf="isTeacherInGroup()" (click)="openAddSessionForm()" class="btn btn-success btn-sm mr-2"><i class="i-Add"></i> New Session</button>
                        <button *ngIf="!allSessions" (click)="getAllSessions()" class="btn btn-info btn-sm mr-2"><i class="i-Eye"></i> View All</button>
                        <button *ngIf="allSessions" (click)="getSessionUpcoming()" class="btn btn-info btn-sm mr-2"><i class="i-Eye"></i> View Latest</button>
                    </div>
                    <div class="card-body">
                        <div *ngIf="loadingSessions" class="loadscreen">
                            <img src="assets/images/logo.png" class="logo mb-3" style="display: none" alt="">
                            <div class="loader-bubble loader-bubble-primary d-block"></div>
                        </div>
                        <div *ngIf="!loadingSessions && sessionResponses && sessionResponses.length > 0; else noSessionsTemplate">
                            <ul class="list-group">
                                <li *ngFor="let session of sessionResponses"
                                    class="list-group-item p-3 mb-2"
                                    [ngClass]="{
                'border-left border-info border-3': isSooner(session.scheduledTime),
                'border-left border-secondary border-2': isLater(session.scheduledTime),
                'text-muted bg-light': isPassed(session.scheduledTime)
            }">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Session Title and Time -->
                                        <span class="font-weight-bold text-dark">
                    {{ session.title }} -
                    <span [ngClass]="{'text-danger': isSooner(session.scheduledTime)}">
                        {{ session.scheduledTime | date: 'dd/MM/yyyy HH:mm' }}
                    </span>
                </span>
                                    </div>

                                    <!-- Action Buttons -->
                                    <div class="mt-3">
                                        <button *ngIf="isTeacherInGroup()"
                                                class="btn btn-warning btn-sm me-2 mr-2"
                                                (click)="openUpdateSessionForm(session)">
                                            <i class="i-Pen-2"></i> Edit
                                        </button>

                                        <button *ngIf="isTeacherInGroup()"
                                                (click)="deleteSessionModal(modalConfirmDeleteSession, session.id)"
                                                class="btn btn-danger btn-sm me-2 mr-2">
                                            <i class="i-Remove"></i> Delete
                                        </button>

                                        <button (click)="openViewSession(session)"
                                                class="btn btn-info btn-sm me-2 mr-2">
                                            <i class="i-Eye"></i> View
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ng-template #noSessionsTemplate>
                            <div class="alert alert-info" role="alert">
                                No sessions available.
                            </div>
                        </ng-template>
                    </div>
                </div>
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5>Presence History</h5>
                    <button class="btn btn-info btn-sm"><i class="fas fa-history"></i> View All</button>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>Student 1 - Present in Session 1</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <ng-template #modalConfirmGroup let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title-GROUP">Delete Group</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete  <span class="text-primary">{{ group.name }}</span>?</strong></p>
            <p>All information associated with this group will be permanently deleted.
                <span class="text-danger">This operation cannot be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
        </div>
    </ng-template>
    <ng-template #modalConfirmDeletePost let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title-Delete-POST">Delete Post</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete this post?</strong></p>
            <p>All information associated with this post will be permanently deleted.
                <span class="text-danger">This operation cannot be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
        </div>
    </ng-template>
    <ng-template #modalConfirmDeleteSession let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title-Delete-SESSION">Delete Session</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete this session?</strong></p>
            <p>All information associated with this session will be permanently deleted.
                <span class="text-danger">This operation cannot be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
        </div>
    </ng-template>
</div>